{% extends 'base.html' %}

{% load staticfiles %}

{% block container %}
<div class="container">
  <div class="row" style="min-height:calc(100vh - 102px)">
    <h2>What is a one on one?</h2>
    <p>1on1 is a one-on-one interview that your boss and subordinates have on a regular basis. Many companies are showing interest because their bosses can expect various effects such as problem solving and human resource development by listening to their subordinates and giving appropriate feedback.</p>

    <h2>Difference from evaluation interview</h2>
    <p>Similar to 1on1, the evaluation interview is known as an “opportunity for the boss and subordinates to talk one-on-one”. However, in 1on1 and evaluation interviews, the purpose of implementation, the method of interaction, and the frequency differ. The evaluation interview aims to determine and notify the personnel evaluation of the subordinates, while 1on1 aims to enhance or withdraw the subordinates' capabilities. Because the purpose is different, the dialogue method is often evaluated in the interview "from the boss to the subordinate", whereas 1on1 has the difference that "the boss and subordinates" talk in many cases. In addition, evaluation interviews are mainly conducted only at the time of personnel evaluation, such as at the end of the period, while 1on1 is performed in a short cycle such as "once a week" and "once every other week" (once a month at the longest). Varies.</p>

    <h3>1. Tell the purpose</h3>
    <p>If you tell only that 1on1 will be implemented, some subordinates may feel uneasy, such as "what kind of story should I talk about?" .. In order to bring out the true intentions of subordinates with 1on1, it is important to tell in advance what purpose 1on1 will be carried out. Let us know that it is "time to get closer to the worries/issues of your subordinates and to lead to growth", and will not directly affect personnel evaluation.</p>

    <h3>2. Decide the date</h3>
    <p>When deciding on a 1on1 date, frequency, day of the week and time of day are important. If you leave too much space, there is a possibility that you will not be able to report or give feedback in real time, or you will forget the previous 1on1 contents. If possible, try once a week, at least once a month.</p>

    <h3>3. Conduct 1on1</h3>
    <p>On the day, it is important to create an atmosphere that is easy to talk, such as chatting at the beginning, in order to relieve the tension of subordinates. Also, since we will spend valuable time on this, during 1on1, make a note of "what did your subordinate talk about?" and "what advice did you give to it?" If you decide the future direction and action to some extent, you can make the next 1on1 meaningful.</p>

    <h3>4. Preparation for the next time</h3>
    <p>After finishing 1on1, we will share the contents of the memo created on the day for review by both parties. If your subordinate informs you of your desire to move or your intention to retire at 1on1, you will also need to inform relevant personnel such as personnel manager. Also, be sure to inform your subordinates of your next 1on1 schedule and theme.</p>
  </div>
</div>
{% endblock container %}
