{% extends 'base.html' %}

{% load staticfiles %}

{% block container %}
<div class="container">
  <div class="row">
    {% for category in categories %}
    <div class="col-sm-6 col-md-3 my-2">
      <div class="card img-thumbnail" style="width: 20rem;">
        <a href="{% url 'question:category_detail' category.id %}">
          <img class="card-img-top" src="" width="300px" height="200px" style="object-fit: cover;">
        </a>
        <div class="card-body px-2 py-3">
          <a class="text-secondary" href="{% url 'question:category_detail' category.id %}">
            <h5 class="card-title font-weight-bold">{{category.name}}</h5>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <hr>
  <script></script>
</div>
{% endblock container %}
