{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
{% endblock %}

{% block container %}
  <div class="container">
    <ol class="breadcrumb">
        <li><a href="/">HOME</a> / </li>
        <li class="active"><a href="{% url 'question:category_detail' object.id %}">{{ object }}</a></li>
      </ol>
    <div class="row" style="min-height:calc(100vh - 150px)">
      <h2 class="font-italic mx-auto my-auto" style="font-size: 50pt;">
        "{{ question.text }}"
      </h2>
    </div>
  </div>
{% endblock %}
